
.icon{
              overflow: hidden;
}
.icon ul{
              margin: 0;
              padding: 0;
}


.icon ul li{
              list-style-type: none;
              float: left;
              margin-right: 10px;

}
.icon ul li:last-child{
           margin-right: 0;

}

.icon ul li a{
              background-image: url(images/48-487892_icon-block-sprites-social-media.png);
              display: inline-block;
              width: 84px;
              height: 84px;
              border: 2px solid #777;
              background-repeat: no-repeat;
              border-radius: 50%;
              background-position: 0 0;
              transition: 1s;
              }
              .icon ul li:hover:nth-child(1) a{
              background-position: 0 -84px;
              }
              .icon ul li:hover:nth-child(2) a{
              background-position: -168px 0;
              }
              .icon ul li:hover:nth-child(2) a{
              background-position: -168px -84px;
              }
              .icon ul li:hover:nth-child(3) a{
              background-position: -420px -84px;
              }
              .icon ul li:hover:nth-child(2) a{
              background-position: -420px -84px;
              }
